<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{ util/nav.html::navbar }"></div>

<form id="signupForm" action="/members" method="POST">
    <input name="email" placeholder="사용할 아이디(이메일)를 입력하세요">
    <input name="password" placeholder="사용할 비밀번호를 입력하세요">
    <input name="confirm_password" placeholder="비밀번호를 재입력하세요">
    <input name="name" placeholder="이름을 입력햊세요">
    <input name="birthDate" placeholder="생일8자리(19711012 등)를 입력해주세요">
    <input name="address" placeholder="주소를 입력해주세요">
    <input name="addressDetail" placeholder="상세 주소를 입력해주세요">
    <input name="nickname" placeholder="별명을 입력하세요(선택)">
    <button type="button" th:onclick="isValid()">가입</button>
    <script >
        function isValid() {
            const form = document.getElementById('signupForm');
            const email = form.email.value;
            const password = form.password.value;
            const confirmPassword = form.confirm_password.value;
            const birthDate = form.birthDate.value;

            if (!email || email.trim().length === 0){
                alert("이메일을 입력해주세요");
                return;
            }

            // 비밀번호 일치 여부 확인
            if (password !== confirmPassword) {
                alert("비밀번호가 일치하지 않습니다.");
                return;
            }

            if (birthDate.length !== 8 || !/^\d+$/.test(birthDate)) {
                alert("생일의 입력은 8자리의 생년월일이여야 합니다.");
                return;
            }


            // 모든 검사를 통과하면 폼 제출
            form.submit();
        }
    </script>
</form>

</body>
</html>